@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-primary:var(--color-neutral-100);
    --color-secondary:var(--color-neutral-500);
    --color-accent:#6B26D9;

    --color-dark-primary:var(--color-neutral-900);
}
html,body{
    overflow-x:hidden ;
}
.hidescrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .hidescrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
.article-details .markdown-body{
    @apply bg-primary dark:bg-dark-primary text-secondary;
}
.article-details .markdown-body pre{
    @apply  dark:bg-secondary/30 text-white;
}
.article-details .markdown-body h1,
.article-details .markdown-body h2,
.article-details .markdown-body h3,
.article-details .markdown-body h4{
    @apply text-black dark:text-white;
}
.article-details .markdown-body table{
    @apply  text-white font-light rounded;
    
    th{
        @apply  bg-secondary/30;
    }
}